<h1>{{title}}</h1>

<!--
{{#if books}}
    {{#each books}}
        <div class="card">
            <h1>{{id}}</h1>
            <ul>
                <li>{{name}}</li>
                <li>{{author}}</li>
                <li>{{pages}}</li>
            </ul>
        </div>
    {{/each}}
    {{else}}
    <h1>yo'q</h1>
{{/if}}
-->

